<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true">
    <groups>
        <exclude>
            <group>slow</group>
            <group>exclude</group>
        </exclude>
    </groups>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/namespaces/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="reports/coverage-html" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="reports/testdox.html"/>
    </logging>
</phpunit>
